.card-container {
  width: 100%;
  height: 544px;
  border-radius: 24px;
  margin: 15px 0;
  padding: 42px;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;

  .card-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  .lesson-quantity {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .card-view {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  @media(max-width: 768px) {
    height: 274px;
  }  

  @media(max-width: 480px) {
    flex-direction: column;
    height: 200px;
    padding: 20px;
  }
}