.courses-page-container {
  max-width: 1720px;

  .courses-page-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .filter-btn-container {
      display: flex;
      align-items: center;

      .filter-btn {
        border: 0;
        padding-left: 15px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #CBB1A2;
        background-color: transparent;
        cursor: pointer;
        text-transform: capitalize;

        @media(max-width: 768px) {
          margin-top: 20px;
          padding-right: 15px;
          padding-left: 0;
        }
        
        @media(max-width: 480px) {
          font-size: 18px;
        }
      }
      
      .filter-btn.active {
        color: #6749A5;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -10px;
          left: calc(50% + 5px);
          width: 15px;
          height: 3px;
          background-color: #6749A5;
          transform: translateX(-50%);

          @media(max-width: 768px) {
            left: calc(50% - 5px);;
          }
        }
      }
    }

    @media(max-width: 768px) {
      flex-direction: column;
    }
  }
}
