.courses-page-container {
  .courses-page-top {
    display: flex;
    justify-content: space-between;

    .filter-btn-container {
      display: flex;
      align-items: center;
      .filter-btn {
        border: 0;
        padding-left: 15px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #CBB1A2;
        background-color: transparent;
        cursor: pointer;

        @media(max-width: 768px) {
          margin-top: 20px;
          padding-right: 15px;
          padding-left: 0;
        }
      }
      .filter-btn.active {
        color: #6749A5;
      }

      @media(max-width: 576px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    @media(max-width: 768px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}